* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body #chat {
  width: 350px;
  position: fixed;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  bottom: 0;
  right: 30px;
  border: 1px solid #ddd;
  z-index: 5;
}
body #chat.active {
  display: none;
}
body #chat header {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 15px;
  background: #ff6b00;
  color: #fff;
}
body #chat header i {
  cursor: pointer;
}
body #chat main {
  height: 280px;
  overflow-y: scroll;
  background: white;
}
body #chat main .message {
  padding: 15px;
  margin: 20px 10px;
  border-radius: 10px;
  position: relative;
  width: 50%;
}
body #chat main .message .time {
  position: absolute;
  top: 100%;
  color: #222222;
  right: 15px;
}
body #chat main .message.user {
  float: right;
  background: #ddd;
}
body #chat main .message.support {
  float: left;
  background: #ff6b00;
  color: #fff;
}
body #mini-chat {
  width: 60px;
  height: 60px;
  background: #ff6b00;
  border-radius: 50%;
  z-index: 5;
  padding: 15px;
  position: fixed;
  bottom: 30px;
  right: 30px;
}
body #mini-chat svg {
  fill: #fff;
}

.header {
  background-color: #FAFAFA;
}

main {
  display: block !important;
}

#carouselExampleIndicators {
  cursor: pointer;
}

.menubar_responsive {
  display: none;
}
.menubar_responsive .self_or_business {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menubar_responsive .self_or_business .self {
  border: 1px solid #ff6b00;
  color: #ff6b00;
}
.menubar_responsive .self_or_business a {
  font-weight: 400;
  font-size: 14px;
  color: #323232;
  padding: 10px 20px;
  border: 1px solid transparent;
  text-decoration: none;
  box-shadow: 0 2px 14px -8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 4px;
}
.menubar_responsive .first_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menubar_responsive .first_section a {
  font-size: 20px;
  padding: 10px 0px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}
.menubar_responsive .second_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menubar_responsive .second_section a {
  font-size: 14px;
  padding: 12px 0px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.header_for_phone {
  display: none;
  justify-content: space-around;
  margin: 10px 0px 0px;
  padding: 15px 0px 16px;
}
.header_for_phone .burger_menu {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #f5f5f6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_for_phone .burger_menu i {
  font-size: 20px;
}
.header_for_phone .logo img {
  width: 28px;
  height: auto;
}
.header_for_phone .call {
  width: auto;
  height: 45px;
  border-radius: 40px;
  background-color: #f5f5f6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.header_for_phone .call span {
  color: black;
  font-weight: 700;
  font-size: 18px;
  margin-left: 10px;
}
.header_for_phone .call i {
  font-size: 15px;
  color: #ff6b00;
}

.alltopheader {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 80%;
  padding: 10px 2rem;
  margin-right: 10%;
}

.topheaderleft {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.logo a img {
  width: 25px;
}

a {
  text-decoration: none;
}

nav {
  margin-left: 10px;
}
nav a {
  color: #211d1d;
  font-size: 15px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 13px;
}
nav a:hover {
  color: #211d1d;
}

.topheaderright {
  cursor: pointer;
}
.topheaderright a {
  margin-right: 10px;
  color: #424040;
  border: 1px solid #FAFAFA;
  box-shadow: 2px 2px 2px #d1cfcf;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
}
.topheaderright a:hover {
  text-decoration: none;
}
.topheaderright i {
  margin-right: 10px;
  border: 1px solid #FAFAFA;
  box-shadow: 2px 2px 2px #d1cfcf;
  padding: 5px 5px;
}
.topheaderright span {
  margin-right: 0px;
  border: 1px solid #FAFAFA;
  box-shadow: 2px 2px 2px #d1cfcf;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
}

.bottomheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.bottomheader .bottomleft {
  margin-left: 61px;
}
.bottomheader .bottomleft a {
  color: #000;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
}
.bottomheader .bottomright a {
  color: #000;
  margin-right: 10px;
  border: 1px solid #e1dfdf;
  border-radius: 25px;
  padding: 8px 15px;
}
.bottomheader .bottomright a:hover {
  text-decoration: none;
}
.bottomheader .bottomright i {
  color: #ff6b00;
  margin-right: 5px;
}

.container2 {
  width: 70%;
  margin: 10px auto;
  margin-left: 17%;
}

.carousel-item {
  border: 2px solid #ffffff;
  height: 400px;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
}
.carousel-item img {
  position: absolute;
  width: 459px;
  height: 331px;
  left: 70px;
  top: 70px;
}

.allbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.allbox .box {
  position: relative;
  padding: 170px 124px;
  border: 1px solid #FAFAFA;
  background-color: #FAFAFA;
  border-radius: 10px;
  margin: 10px 10px;
}
.allbox .box a {
  position: absolute;
  bottom: 10%;
  left: 33%;
  font-size: 15px;
  color: #fff;
  border: 1px solid #ff6b00;
  background-color: #ff6b00;
  border-radius: 20px;
  padding: 10px 20px;
}

.box .text h3,
.box .text h1,
.box .text span {
  position: absolute;
}
.box .text h3 {
  top: 35px;
  left: 28%;
  font-size: 20px;
}
.box .text h1 {
  top: 30%;
  left: 33%;
  font-size: 50px;
  color: #ff6b00;
}
.box .text span {
  bottom: 40%;
  left: 34%;
}

.commonbox, .bigbox3, .bigbox2, .bigbox {
  position: relative;
  width: 100%;
  height: 420px;
  border: 1px solid #FAFAFA;
  background-color: #FAFAFA;
  border-radius: 10px;
  margin-top: 50px;
}

.bigbox img,
.bigbox .text,
.bigbox .all-a {
  position: absolute;
}
.bigbox img {
  width: 50%;
  top: -17%;
}
.bigbox .text {
  top: 23%;
  right: 6%;
}
.bigbox .text h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ff6b00;
}
.bigbox .text span {
  font-size: 14px;
}
.bigbox .all-a {
  bottom: 24%;
  right: 10%;
}
.bigbox .all-a a {
  margin-right: 14px;
  border: 1px solid #d6d5d5;
  border-radius: 13px;
  padding: 10px 15px;
  color: #8f8b8b;
}
.bigbox .all-a .a1 {
  border: 1px solid #ff6b00;
  background-color: #ff6b00;
  color: #fff;
  font-weight: 600;
}

.bigbox2 img,
.bigbox2 .text,
.bigbox2 .appbar-link {
  position: absolute;
}
.bigbox2 img {
  width: 50%;
  bottom: 0%;
  right: 3%;
}
.bigbox2 .text {
  top: 22%;
  left: 5%;
}
.bigbox2 .text h2 {
  color: #ff6b00;
  font-size: 40px;
  font-weight: bold;
}
.bigbox2 .appbar-link {
  bottom: 25%;
  left: 5%;
}
.bigbox2 .a-son {
  position: absolute;
  bottom: 7%;
  left: 5%;
  border: 1px solid #ff6b00;
  background-color: #ff6b00;
  border-radius: 20px;
  color: #fff;
  padding: 13px 30px;
  font-weight: bold;
}

.bigbox3 {
  height: 630px;
}
.bigbox3 h2,
.bigbox3 .alltext {
  position: absolute;
}
.bigbox3 h2 {
  top: 5%;
  left: 5%;
  color: #ff6b00;
}
.bigbox3 .alltext {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 50px;
  flex-wrap: wrap;
  padding: 50px;
  left: -4%;
  font-size: 14px;
}
.bigbox3 .alltext .text {
  width: 30%;
}
.bigbox3 .alltext .text h3 {
  font-size: 25px;
}
.bigbox3 .alltext .text .table {
  margin-top: 30px;
}
.bigbox3 .alltext .text .table thead th {
  border-bottom: 1px;
  border-top: 0px;
  color: #ACB3B8;
}
.bigbox3 .alltext .calculator {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  height: auto;
  background: #fff;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  border-radius: 10px;
}
.bigbox3 .alltext .calculator .calc_text {
  width: 25%;
}
.bigbox3 .alltext .calculator .calc_text h3 {
  font-size: 18px;
  margin: 0px;
  padding: 0px 0px 10px;
}
.bigbox3 .alltext .calculator .calc_text span {
  font-size: 12px;
  color: rgba(50, 50, 50, 0.5);
}
.bigbox3 .alltext .calculator i {
  color: #ff6b00;
  font-size: 20px;
}
.bigbox3 .alltext .calculator .calc_input {
  width: 30%;
  overflow: hidden;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgba(50, 50, 50, 0.1);
  margin-bottom: 10px;
  float: left;
  position: relative;
}
.bigbox3 .alltext .calculator .calc_input .flag_text {
  position: absolute;
  right: 20px;
  top: 7px;
}
.bigbox3 .alltext .calculator .calc_input .flag_text img {
  border-radius: 100%;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
.bigbox3 .alltext .calculator .calc_input .flag_text span {
  font-size: 15px;
  color: #444444;
}
.bigbox3 .alltext .calculator .calc_input input {
  border: none;
  outline: none;
  width: 100%;
}
.bigbox3 .alltext .calculator .calc_input input:focus {
  outline: none;
  border: none;
}

.textbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.textbox .box {
  position: relative;
  width: 60%;
  height: 400px;
  border: 1px solid #FAFAFA;
  background-color: #FAFAFA;
  border-radius: 10px;
  margin-left: 20px;
}
.textbox .box a,
.textbox .box span,
.textbox .box .date1,
.textbox .box .date2,
.textbox .box .date3 {
  position: absolute;
}
.textbox .box a {
  color: #ff6b00;
  top: 13%;
  left: 3.5%;
  font-weight: bold;
  font-size: 17px;
}
.textbox .box span {
  font-size: 14px;
  top: 30%;
  left: 3%;
}
.textbox .box .date1,
.textbox .box .date2,
.textbox .box .date3 {
  font-size: small;
  color: #696868;
  left: 3%;
}
.textbox .box .date1 {
  top: 58%;
}
.textbox .box .date2 {
  top: 88%;
}
.textbox .box .date3 {
  top: 88%;
}
.textbox .box .frontnews__body--btn {
  position: absolute;
  color: #fff;
  border: 1px solid #ff6b00;
  background-color: #ff6b00;
  border-radius: 20px;
  padding: 10px 30px;
  top: 105%;
  left: -85%;
}

.bigbox4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bigbox4 .leftbox {
  position: relative;
  width: 65%;
  height: 350px;
  margin-top: 80px;
  margin-left: 20px;
  border: 1px solid #FAFAFA;
  background-color: #FAFAFA;
  border-radius: 10px;
}
.bigbox4 .leftbox img,
.bigbox4 .leftbox h2,
.bigbox4 .leftbox span,
.bigbox4 .leftbox a {
  position: absolute;
}
.bigbox4 .leftbox img {
  bottom: 0;
  right: 3%;
}
.bigbox4 .leftbox h2 {
  top: 20%;
  left: 10%;
  font-size: 30px;
  font-weight: bold;
  color: #ff6b00;
}
.bigbox4 .leftbox span {
  top: 50%;
  left: 10%;
  font-weight: 350;
}
.bigbox4 .leftbox a {
  top: 70%;
  left: 10%;
  color: #fff;
  border: #ff6b00;
  border-radius: 20px;
  background-color: #ff6b00;
  padding: 10px 20px;
}

.bigbox4 .rightbox {
  position: relative;
  width: 30%;
  height: 350px;
  margin-top: 80px;
  border: 1px solid #FAFAFA;
  background-color: #FAFAFA;
  border-radius: 10px;
}
.bigbox4 .rightbox h2, .bigbox4 .rightbox span, .bigbox4 .rightbox a {
  position: absolute;
}
.bigbox4 .rightbox h2 {
  top: 20%;
  left: 10%;
  font-size: 25px;
  font-weight: bold;
  color: #ff6b00;
}
.bigbox4 .rightbox span {
  top: 50%;
  left: 8%;
  font-weight: 350;
}
.bigbox4 .rightbox a {
  top: 75%;
  left: 12%;
  color: #fff;
  border: 1px solid #ff6b00;
  background-color: #ff6b00;
  border-radius: 20px;
  padding: 10px 20px;
}

.container3 {
  margin: 0 18.5%;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.footer-menu .menu-box {
  height: 500px;
  font-size: small;
  margin-left: 30px;
}

.m-boxes .first-child {
  color: #000;
  font-size: 15px;
  font-weight: bold;
}
.m-boxes a {
  display: block;
  margin-top: 20px;
  color: #424040;
  font-weight: 400;
}

.social-menu {
  display: block;
  margin-top: -150px;
}
.social-menu i {
  margin-left: 20px;
}
.social-menu .fa, .social-menu i.fa-apple, .social-menu .fa-android {
  color: #fff;
  border: 1px solid #ff6b00;
  border-radius: 50%;
  background-color: #ff6b00;
  padding: 5px;
}
.social-menu .fa2, .social-menu i.fa-facebook-f, .social-menu .fa-twitter, .social-menu .fa-linkedin, .social-menu .fa-youtube, .social-menu .fa-square-instagram, .social-menu .fa-telegram {
  color: #fff;
  border: 1px solid #696868;
  border-radius: 50%;
  background-color: #696868;
  padding: 5px;
}
.copyright-bar .copyright-head {
  font-weight: bold;
}
.copyright-bar .copyright-text {
  font-size: small;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 100%;
}
.image .img, .image .img1, .image .img2, .image .img3 {
  width: 50px;
}
@media only screen and (max-width: 990px) {
  header .header {
    display: none;
  }
  header .media_header {
    display: none !important;
  }
  header .header_for_phone {
    display: flex;
  }
  footer .footer-menu {
    display: none;
  }
  footer .social-menu {
    margin: 30px 0px;
  }
}/*# sourceMappingURL=style.css.map */